/* RESET*/


*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav,ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    
}

a:hover{
    opacity: 1;
}

/*HEADER*/

header{
    height: 100px;
    font-size: 16px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px 50px;
    background-color: #1F1B1D;
}   

header img{
    width: 70px;
}

header nav{
    display: flex;
    
}

header{
    display: flex;
    position: fixed;
    height: 70px;
}



header li a{
    color: #fff;
}

header li a:hover{
    color: #fe92da;
}

header li {
    margin: 0 15px;
}

header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}


@media (max-width: 700px){
    header {
        height: 120px;
        flex-direction: column;
    }

    header img{
        margin-top: -10px;
        
    }

    header li {
        font-size: 14px;
        margin-top: -15px;
        margin-left: 5px;
    }
}

/*HERO*/

.hero{
    background-image: url(../img/img-principal.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #9917f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.hero h3{
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero .btn {
    background-color: #a52679f1;
    border-radius: 4px;
    color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
}


@media (max-width: 700px){
    .hero h1{
        font-size: 2.5rem;
    }

    .hero h3{
        font-size: 1.5rem;
    }
}

/*SOBRE MIM*/

.conheca-meu-trabalho{
    background-color: #1d1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.conheca-meu-trabalho h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;

}

.conheca-meu-trabalho p{
    max-width: 800px; margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.conheca-meu-trabalho hr{
    width: 500px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
    
}

.conheca-meu-trabalho .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.conheca-meu-trabalho .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.conheca-meu-trabalho .grid li.small{
    margin-left: 20px;
    flex-basis: 50%;
}

.conheca-meu-trabalho .grid li.large{
    margin-left: 20px;
    flex-basis: 40%;
}

@media (max-width: 700px){
    .conheca-meu-trabalho .grid li.small, .conheca-meu-trabalho .grid li.large{
        flex-basis: 100%;
    }

    
}

/*legenda-home*/

.legenda-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    background-color: #a52679f1 ;
}

.legenda-home h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;

}

.legenda-home p{
    max-width: 800px; margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.legenda-home hr{
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
    
}

.legenda-home .grid  {
    width: 100%;
    display: flex;
}

.legenda-home .grid li{
    padding: 0 30px;
    text-align: center;
}

.legenda-home .grid i {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
}

.legenda-home li h4{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.legenda-home .grid li p{
    color: #fff;
}

@media (max-width: 850px){
    .legenda-home .grid{
        flex-direction: column;
    }

    
}


/*NEWLETTER*/

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.newsletter h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #a52679f1;
    text-align: center;

}

.newsletter p{
    max-width: 800px; margin-bottom: 35px;
    color: black;
    text-align: center;
}

.newsletter hr{
    width: 200px;
    height: 2px;
    background-color: black;
    margin-bottom: 70px;
    border: none;
    
}

.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.newsletter input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}

.newsletter button{
    padding: 15px;
    background-color: #a52679f1;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 700px){
    .newsletter input{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    
}

/*FOOTER*/

footer{
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color: #242222;
    padding: 30px 0px;
    align-items: center;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
}

footer ul li{
    margin-right: 10px;
}

footer ul li:last-child{
    margin-right: 0;
}

footer ul li a{
    color: #fe92da;
    font-size: 2rem;
}

footer p{
    text-align: center;
    color: #fe92da;
}

